/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
*:not(dialog) {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
:root{
  --big_header: 35px;
  --small_header: 25px;

  --bg_color_black: rgb(32, 30, 30);
  --bg_color_gray: #656e72 ;

  --white_txt: white;

}
.container{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.header{
  grid-column: 2 /4 ;
}

.dashboard{
  grid-column: 1 /2 ;
} 

.main{
  grid-column: 2 /4 ;
}

ul, li {
  list-style: none;
}

a:link {
  text-decoration: none;
  color: var(--bg_color_black);
}

a:visited {
  text-decoration: none;
    color: var(--bg_color_black);
}


a:hover {
   text-decoration: none;
     color: var(--bg_color_black);
}


a:active {
  text-decoration: none;
  color: var(--bg_color_black);
}
.logo_container{
  display: grid;
  justify-content: center;
  grid-column: 1/2;
  grid-row: 1 /2;
  background-color: var(--bg_color_gray);
}
.dashboard{
  display: grid;
  grid-template-rows:  1fr 2fr;
  gap: 50px;
  justify-content:center;
  background: var(--bg_color_gray);

}
.header{
  display: grid;
  grid-template-columns: 2fr 1fr ;
}
.main{
   display: grid;
   grid-template-columns: 3fr 1fr;
}

.project{
  grid-row: 1 / 3;

}
.logo{
  font-size: var(--big_header);
  display: flex;
  gap: 10px;
  
}
.logo_container .logo img{
   height: 45px;
  width: 45px;
}
.dashboard img{
  height: var(--big_header);
  width: var(--big_header);
}
.nav1 li,
.nav2 li{
  font-size: var(--small_header);
  display: flex;
  gap: 10px;
}

